@import "~/assets/variables";

.fileCardView {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 500px;
}

.fileCard {
  border-radius: $space-p;
  overflow: hidden;
  padding: $space-p $space-m;

  .fileCardContent {
    display: flex;
    align-items: center;

    .preview {
      width: 40px;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    .label {
      flex: 1;
      padding: 0 $space-p;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon {
      margin-left: auto;
      margin-right: $space-p;
    }
  }
}