/* Colors */
$indigo900: #173B5B; // principal
$indigo800: #215B89;
$indigo700: #296B9A;
$indigo600: #347CAB;
$indigo500: #3F88B7;
$indigo400: #637C94;
$indigo300: #6EA9C9;
$indigo200: #92C1D9;
$indigo100: #BAD9E8;
$indigo50: #AEBDCC;

$black900: #333333; // principal
$black800: #464646;
$black700: #616161;
$black600: #777777;
$black500: #8E8E8E;
$black400: #A4A4A4;
$black300: #BBBBBB;
$black200: #D2D2D2;
$black100: #E8E8E8;
$black50: #F4F4F4;
$black30: #F9F9F9;
$black0: #ffffff;