@import "~/assets/variables";
@import "~/components/Button/button.module.scss";

.allFileInput {
  max-width: 350px;
  padding: $space-p;

  .fileInput {
    @extend .button;

    cursor: pointer;

    input {
      display: none;
    }
  }
}